%meta{ :charset => "UTF-8" }

%title
  Rachel Weaver &amp; David Gorman

= stylesheet_link_tag "assets/base/core.css"
%link{ :rel => "stylesheet",
		:href => "//weaver2gorman.com/display/common.css?styleId=1684925&RK=1337110962963&CE=63" }
