@import "base/mixins";

body {
  background:#222;
}

#wrapper {
  padding-bottom:1px;

  #pageHeader {
    @include block_rel;
    @include shadow_with_inner(0, 0, 5px, 0, rgba(0, 0, 0, 0.5), 0, 0, 1px, 0, rgba(0, 0, 0, 0.3));
    background-color:#fff;
    border-bottom:10px solid #efefef;
    margin:0;
    padding:0 15px;
    z-index:5;
  }

  #siteTitleWrapper {
    padding-bottom:25px;
    padding-top:20px;

    #siteTitle {
      span {
        color:#7f7f7f;
      }
    }

    #siteSubtitle {
      color:#7f7f7f;
      font-size:16px;
      text-transform:none;

      &:after {
        content:".";
      }

      .hashtag {
        color:#8f2f51;

        &:before {
          content:"#";
        }
      }
    }
  }
}

#stream {
  .item {
    @include block_rel_left;
    // fallback in case there's no image
    @include inner_shadow(1px, 1px, 0, 0, rgba(255, 255, 255, 0.2));
    height:364px;
    padding:10px 15px;
    overflow:hidden;
    width:354px;

    .image, .no_image {
      @include block_abs;
      @include inner_shadow(1px, 1px, 0, 0, rgba(255, 255, 255, 0.2));
      height:100%;
      left:0;
      top:0;
      width:100%;
      z-index:1;
    }

    .image {
      background-repeat:no-repeat;
      background-size:cover;
      -moz-background-size:cover;
      -webkit-background-size:cover;
    }

    .no_image {
      background:url("//weaver2gorman.com/layout/images/joy_bg.gif");
      opacity:0.4;
    }

    .text {
      background-color:rgba(0, 0, 0, 0.6);
      color:#efefef;
      font-size:24px;
      font-weight:300;
      line-height:32px;
      position:relative;
      z-index:2;

      .hashtag {
        color:#ff7da6;
      }
    }

    .meta {
      @include block_abs;
      // @include vertical_gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      background:#000;
      bottom:0;
      content:" ";
      height:50px;
      left:0;
      opacity:0.75;
      width:100%;
      z-index:3;

      .avatar, .user {
        @include block_abs;
        bottom:10px;
        z-index:5;
      }

      .avatar {
        @include inner_shadow(0, 0, 2px, 0, rgba(0, 0, 0, 0.2));
        @include block_abs;
        @include round(3px);
        background-repeat:no-repeat;
        left:10px;
        margin-right:10px;
      }

      .avatar.x30 {
        @include avatar_size(30px);
      }

      .user {
        color:#fff;
        font-size:16pt;
        font-weight:300;
        left:50px;
        line-height:27px;
        width:282px;
      }
    }

    .service {
      @include block_abs;
      @include services_sprite;
      bottom:13px;
      height:24px;
      right:10px;
      width:25px;
      z-index:10;
    }
  }
}


.item.foursquare {
  .service {
    background-position:-75px 0;
  }
}

.item.instagram {
  .service {
    background-position:-50px 0;
  }
}

.item.twitter {
  .service {
    background-position:-25px 0;
  }
}
